<h1>Articles</h1>
<%= link_to 'New article', new_article_path %>

<p> 
<% @articles.each do |article| %>
<strong><%= article.title %></strong><br>
<%= article.text %><br></td>
<%= link_to 'Details', article_path(article) %>
</p>
<% end %>



</table>